<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Test" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="bef66451-30ae-4ec9-b8ad-d1337f6fbb36">
    <MajorUpgrade DowngradeErrorMessage="!(loc.Downgrade.Error)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
